{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Search User</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% if username is none %}
    {% else %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Sentiment Analysis Results for @{{username}}</h3>
                <strong>Tweets Analyzed</strong>
                <p>{{ num_tweets }}</p>
                <div class="measure-title">
                    <strong>Sentiment Analysis Score</strong>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{{ sentiment_score_description }}"></span>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:{{ sentiment_score }}%;background-color:{{ sentiment_color }}">
                    {% if sentiment_score >= 70 %}
                        <span style="color:black">{{ sentiment_score }} / 100</span>
                    {% else %}
                        <span>{{ sentiment_score }} / 100</span>
                    {% endif %}
                    </div>
                </div>
                <div class="measure-title">
                    <strong>Top Topics</strong>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{{ topics_description }}"></span>
                </div>
                <ol class="list-group list-group-numbered">
                    {% for topic in topics %}
                        <li class="list-group-item">{{ topic }}</li>
                    {% endfor %}
                </ol>
                <div class="measure-title">
                    <strong>Top Usernames</strong>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{{ usernames_description }}"></span>
                </div>
                <ol class="list-group list-group-numbered">
                    {% for username in usernames %}
                        <li class="list-group-item">{{ username }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>

        
    {% endif %}
{% endblock %}